sim/multiModelTrafficSimulatorInput.dtd

<?xml version="1.0" encoding="UTF-8"?> 

<!-- ##################################################################### -->
<!-- DTD Validation Grammar for multi model traffic simulator              -->
<!-- (c) 2011 Arne Kesting                                                 -->
<!-- ##################################################################### -->


<!-- ############################################################################## -->
<!-- Short reference for xml dtd syntax -->
<!-- http://www.herongyang.com/XML/DTD-Syntax-of-DTD-Statements.html -->
<!-- http://www.mihaiu.name/2005/xml-dtd-reference/ -->
<!-- <!ELEMENT> this tag is used to define an XML element type name and its permissible sub-elements;  -->
<!-- <!ELEMEMT elementName EMPTY>  : this element cannot have content, but it can have attributes -->
<!-- Element can have children but it cannot contain text (with the exception of whitespace): -->
<!-- <!ELEMENT elementName (child1, child2)> : element's children are specified using a sequence list thus they must appear in the specified order -->
<!-- <!ELEMENT elementName (child1 | child2)> : element's children are specified using a mutually exclusive choice list -->
<!-- Cardinality operators: ?="0 or 1"; *="0 to n";+="1 to n" -->
<!-- <!ATTLIST>  defines the attributes of an XML element (permissible and default values) -->
<!-- <!ATTLIST AnElement an_attribute CDATA #REQUIRED> : the attribute *must* be present in the XML document (is required) -->
<!-- <!ATTLIST AnElement an_attribute CDATA #IMPLIED> : the attribute is optional -->
<!-- <!ATTLIST AnElement an_attribute CDATA "value"> : attribute is optional and it has a default value; a validating parser will supply the default value if the attribute is not specified in the respective element -->
<!-- <!ATTLIST Test6 an_attribute (value1 | value2) #IMPLIED> : the attribute is optional but it can only have values from a predefined list -->
<!-- ############################################################################## -->
<!-- Here NMTOKEN is used for "normal" values, (true|false) indicate defined boolean values and CDATA is used when parsing allows also for constructs like "1/3.6" -->
<!-- ############################################################################## -->


<!-- general remarks: -->
<!-- all parameter values are expected in SI units. Otherwise the attribute's name is indicating the unit explicitely -->

<!ELEMENT SCENARIO (VEHICLES, SIMULATION) >

<!-- ##################################################################### -->
<!-- Vehicle-Driver-Units / Models                                         -->
<!-- ##################################################################### -->

<!ELEMENT VEHICLES (VEHICLE+) >

<!ELEMENT VEHICLE (LONGITUDINAL_MODEL, LANE_CHANGE_MODEL, MEMORY?, NOISE?) >

<!ATTLIST VEHICLE
  label           CDATA   #REQUIRED
  length          NMTOKEN #REQUIRED
  b_max           NMTOKEN "10000"
  reaction_time   NMTOKEN "0"
>

<!-- Longitudinal model elements -->
<!ELEMENT LONGITUDINAL_MODEL (IDM | ACC | OVM_VDIFF | GIPPS | NEWELL | NSM | KCA)>

<!-- see IDM paper and/or website for reference -->
<!ELEMENT IDM EMPTY>
<!ATTLIST IDM 
  v0           NMTOKEN #REQUIRED
  s0           NMTOKEN #REQUIRED
  s1           NMTOKEN "0"
  T            NMTOKEN #REQUIRED
  a            NMTOKEN #REQUIRED
  b            NMTOKEN #REQUIRED
  delta        NMTOKEN "4"
>

<!ELEMENT ACC EMPTY>
<!ATTLIST ACC
  v0           NMTOKEN #REQUIRED
  s0           NMTOKEN #REQUIRED
  s1           NMTOKEN "0"
  T            NMTOKEN #REQUIRED
  a            NMTOKEN #REQUIRED
  b            NMTOKEN #REQUIRED
  delta        NMTOKEN "4"
  coolness     NMTOKEN #REQUIRED
>


<!-- default: OVM variant with org. optimal velocity function -->
<!ELEMENT OVM_VDIFF EMPTY>
<!ATTLIST OVM_VDIFF
  v0          NMTOKEN #REQUIRED
  tau         NMTOKEN #REQUIRED
  s0          NMTOKEN #REQUIRED
  l_int       NMTOKEN #REQUIRED
  beta        NMTOKEN #REQUIRED
  lambda      NMTOKEN "0"
  variant     (0|1|2) "0"
>


<!ELEMENT GIPPS EMPTY>
<!ATTLIST GIPPS
  v0           NMTOKEN #REQUIRED
  s0           NMTOKEN #REQUIRED
  a            NMTOKEN #REQUIRED
  b            NMTOKEN #REQUIRED
  dt           NMTOKEN #REQUIRED
>

<!-- TODO !! -->
<!ELEMENT NEWELL EMPTY>
<!ATTLIST NEWELL
>

<!ELEMENT NSM EMPTY>
<!ATTLIST NSM
v0           NMTOKEN #REQUIRED
p_slowdown   NMTOKEN #REQUIRED
p_slow_start NMTOKEN #REQUIRED
>

<!ELEMENT KCA EMPTY>
<!ATTLIST KCA
v0      NMTOKEN #REQUIRED
k       NMTOKEN #REQUIRED
pb0     NMTOKEN #REQUIRED
pb1     NMTOKEN #REQUIRED
pa1     NMTOKEN #REQUIRED
pa2     NMTOKEN #REQUIRED
vp      NMTOKEN #REQUIRED
>


<!-- no lane changing implemented so far (single lane simulator) -->
<!ELEMENT LANE_CHANGE_MODEL EMPTY>
<!ATTLIST LANE_CHANGE_MODEL 
>


<!-- Memory model, see paper for reference -->
<!ELEMENT MEMORY EMPTY>
<!ATTLIST MEMORY
tau     NMTOKEN #REQUIRED
alpha_T  NMTOKEN #REQUIRED
alpha_v0 NMTOKEN #REQUIRED
alpha_a  NMTOKEN "1"
>

<!-- Fluctuations:  -->
<!-- Wiener process (tau!=0) or delta-correlated white noise as alternatives -->
<!-- default is white noise -->
<!-- too strong fluctuations can provoke crashed -->
<!ELEMENT NOISE EMPTY>
<!ATTLIST NOISE
tau              NMTOKEN "0"
fluct_strength   NMTOKEN #REQUIRED 
>


<!-- ##################################################################### -->
<!-- Infrastructure and Simulation settings                                -->
<!-- ##################################################################### -->

<!ELEMENT SIMULATION (ROAD*)>
<!ATTLIST SIMULATION
  dt               NMTOKEN #REQUIRED
  duration            NMTOKEN #REQUIRED
  with_fixed_seed  (true|false)  "true" 
  seed             NMTOKEN "42"
> 

<!ELEMENT ROAD (TRAFFIC_COMPOSITION, INITIAL_CONDITIONS, TRAFFIC_SOURCE, TRAFFIC_SINK, FLOW_CONSERVING_INHOMOGENEITIES, SPEED_LIMITS, RAMPS, TRAFFIC_LIGHTS, OUTPUT)>

<!ATTLIST ROAD
  id               NMTOKEN #REQUIRED
  length            NMTOKEN #REQUIRED
  lanes            NMTOKEN "1"
> 


<!ELEMENT TRAFFIC_COMPOSITION (VEHICLE_TYPE+)>
<!ATTLIST TRAFFIC_COMPOSITION
  write_fund_diagrams  (false|true) "false"
>

<!ELEMENT VEHICLE_TYPE EMPTY >
<!ATTLIST VEHICLE_TYPE
  label     CDATA    #REQUIRED
  fraction  NMTOKEN  #REQUIRED
>

<!-- initial conditions (IC) -->

<!ELEMENT INITIAL_CONDITIONS (IC_MACRO*, IC_MICRO*)>
<!ATTLIST INITIAL_CONDITIONS 
> 

<!ELEMENT IC_MACRO EMPTY>
<!ATTLIST IC_MACRO
  x          NMTOKEN #REQUIRED
  rho_per_km NMTOKEN #REQUIRED
  v          NMTOKEN "0"
> 

<!-- most right lane is =1, increment for further lanes  -->
<!ELEMENT IC_MICRO EMPTY>
<!ATTLIST IC_MICRO
  x       NMTOKEN #REQUIRED
  v       NMTOKEN #REQUIRED
  lane    NMTOKEN "1"
  label   CDATA ""
> 

<!-- upstream boundary conditions -->
<!ELEMENT TRAFFIC_SOURCE (INFLOW*)>
<!ATTLIST TRAFFIC_SOURCE
with_logging  (true|false)  "false" 
>          

<!-- downstream boundary conditions (not yet implemented) -->
<!ELEMENT TRAFFIC_SINK EMPTY>
<!ATTLIST TRAFFIC_SINK
with_logging  (true|false) "false" 
>          


<!ELEMENT INFLOW EMPTY>
<!ATTLIST INFLOW
  t           NMTOKEN #REQUIRED
  q_per_hour  NMTOKEN #REQUIRED
  v           NMTOKEN "100"
> 



<!-- Flow-conserving inhomogeneities -->
<!ELEMENT FLOW_CONSERVING_INHOMOGENEITIES (INHOMOGENEITY*)>
<!ATTLIST FLOW_CONSERVING_INHOMOGENEITIES
> 

<!ELEMENT INHOMOGENEITY EMPTY>
<!ATTLIST INHOMOGENEITY
x         NMTOKEN #REQUIRED
alpha_T   NMTOKEN "1"
alpha_v0  NMTOKEN "1"
> 


<!-- speed limits -->
<!ELEMENT SPEED_LIMITS (SPEED_LIMIT*)>
<!ATTLIST SPEED_LIMITS
> 

<!ELEMENT SPEED_LIMIT EMPTY>
<!ATTLIST SPEED_LIMIT
x_init         NMTOKEN #REQUIRED
speedlimit_kmh NMTOKEN #REQUIRED
> 

  
<!-- ramps (onramps only) -->
<!ELEMENT RAMPS (SIMPLE_RAMP*, RAMP*)>
<!ATTLIST RAMPS
> 

<!ELEMENT SIMPLE_RAMP (INFLOW*)>
<!ATTLIST SIMPLE_RAMP
x_center       NMTOKEN #REQUIRED
length         NMTOKEN "1000"
with_logging  (true|false)  "false" 
> 


<!-- real physical ramp with merging area (length) and total length of x_max --> 
<!ELEMENT RAMP (INFLOW*)>
<!ATTLIST RAMP
x_center       NMTOKEN #REQUIRED
length         NMTOKEN "300"
x_max          NMTOKEN "1000"
with_logging  (true|false)  "false" 
> 
  
<!-- traffic lights -->
  
<!ELEMENT TRAFFIC_LIGHTS (TRAFFIC_LIGHT*)>
<!ATTLIST TRAFFIC_LIGHTS
> 
  
<!ELEMENT TRAFFIC_LIGHT EMPTY>
<!ATTLIST TRAFFIC_LIGHT
x                NMTOKEN #REQUIRED
green_time       NMTOKEN #REQUIRED
green_red_time   NMTOKEN #REQUIRED
red_time         NMTOKEN #REQUIRED
red_green_time   NMTOKEN #REQUIRED
phase_shift      NMTOKEN "0"
> 

<!-- ##################################################################### -->
<!--                           OUTPUT                                      -->
<!-- ##################################################################### -->

<!ELEMENT OUTPUT (SPATIOTEMPORAL?, FLOATING_CAR_DATA?, TRAJECTORIES?, DETECTORS?, TRAFFIC_LIGHT_RECORDER?) >

<!-- TODO ralph -->
<!ATTLIST OUTPUT
path CDATA "./"
>

<!-- output of spatio-temporal fields -->
<!ELEMENT SPATIOTEMPORAL EMPTY>
<!ATTLIST SPATIOTEMPORAL
  dt NMTOKEN "60"
  dx NMTOKEN "100"
>

<!-- possible output: percentage and/or dn and/or vla -->
<!ELEMENT FLOATING_CAR_DATA (FC*)>
<!ATTLIST FLOATING_CAR_DATA 
n_dt      NMTOKEN "1"
perc_out  NMTOKEN "0"
dn        NMTOKEN "0"
>

<!ELEMENT FC EMPTY>
<!ATTLIST FC
number  NMTOKEN #REQUIRED
>

<!-- <TRAJECTORIES dt_s="1" t_start_min="0" t_end_min="7" />  -->
<!ELEMENT TRAJECTORIES EMPTY>
<!ATTLIST TRAJECTORIES
  dt           NMTOKEN "1"
  t_start_min  NMTOKEN "0"
  t_end_min    NMTOKEN "1e10"
  x_start_km   NMTOKEN "0"
  x_end_km     NMTOKEN "1e10"
>


<!-- detectors can be placed with absolute and/or relative positions -->
<!ELEMENT DETECTORS  (CROSS_SECTION+) >
<!-- 1 min as default aggregation interval -->
<!ATTLIST DETECTORS
  dt  NMTOKEN "60" 
>

<!ELEMENT CROSS_SECTION EMPTY>
<!ATTLIST CROSS_SECTION 
  x  NMTOKEN #REQUIRED 
>



<!-- write time series of all traffic lights in one file  -->
<!ELEMENT TRAFFIC_LIGHT_RECORDER EMPTY>
<!ATTLIST TRAFFIC_LIGHT_RECORDER
  n_dt  NMTOKEN "1"
>  
  
             




