core/src/main/resources/schema/MovsimScenario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.1"
  xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
  jxb:extensionBindingPrefixes="inheritance"   >

<xs:annotation>
	<xs:documentation>XML Schema Definition for Movsim simulation files, (c) 2013 by movsim.org</xs:documentation>
	<xs:appinfo>
	  <jxb:globalBindings fixedAttributeAsConstantProperty="false" typesafeEnumBase="xs:NCName" generateIsSetMethod="true">
	  </jxb:globalBindings>
	</xs:appinfo>
	</xs:annotation>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<!-- own definition -->
<xs:simpleType name="nonNegativeDouble">
  <xs:restriction base="xs:double">
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="positiveDouble">
  <xs:restriction base="xs:double">
    <xs:minExclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="probability">
  <xs:restriction base="xs:double">
    <xs:minInclusive value="0"/>
    <xs:maxInclusive value="1"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="nonNegativeInteger">
  <xs:restriction base="xs:integer">
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="positiveInteger">
  <xs:restriction base="xs:integer">
    <xs:minExclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->


 <xs:element name="MovsimScenario">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="Vehicles"/>
    <xs:element ref="Simulation"/>
   </xs:sequence>
   <xs:attribute name="network_filename" type="xs:string" use="required"/> 
  </xs:complexType>
 </xs:element>

 
 <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
 <xs:element name="Vehicles">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="Vehicle" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="write_fund_diagrams" type="xs:boolean" default="false"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="Vehicle">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="LongitudinalModel"/>
    <xs:element ref="LaneChangeModel"/>
    <xs:element ref="NoiseParameter" minOccurs="0" maxOccurs="1"/>
   </xs:sequence>
   <xs:attribute name="label" type="xs:string" use="required"/>
   <xs:attribute name="length" type="xs:string" use="required"/>
   <xs:attribute name="width" type="xs:string" default="4.4"/>
   <xs:attribute name="b_max" type="xs:string" default="10000"/>
   <xs:attribute name="reaction_time" type="xs:string" default="0"/>
   <xs:attribute name="consumption" type="xs:string" default="none"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="LongitudinalModel">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="ModelParameterIDM" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="ModelParameterACC" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="ModelParameterOVM_FVDM" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="ModelParameterGipps" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="ModelParameterKrauss" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="ModelParameterNewell" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="ModelParameterNSM" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="ModelParameterKKW" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="ModelParameterCCS" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="MemoryParameter" minOccurs="0" maxOccurs="1"/> <!-- check order -->
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 
  <xs:complexType name="BasicModelParameter">
		 	  <xs:annotation>
			<xs:appinfo>
				<inheritance:extends>org.movsim.simulator.vehicles.longitudinalmodel.acceleration.ModelParameter</inheritance:extends>  
			</xs:appinfo>
		</xs:annotation>
   <xs:attribute name="v0" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="s0" type="nonNegativeDouble" use="required"/>
  </xs:complexType>

 

<!-- TODO extract v0 and s0 as basis of all models -->
 <xs:element name="ModelParameterIDM">
	 <xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
   <xs:attribute name="s1" type="nonNegativeDouble" default="0"/>
   <xs:attribute name="T" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="a" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="b" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="delta" type="nonNegativeDouble" default="4"/>
    </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>

 <xs:element name="ModelParameterACC">
	 <xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
   <xs:attribute name="s1" type="nonNegativeDouble" default="0"/>
   <xs:attribute name="T" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="a" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="b" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="delta" type="nonNegativeDouble" default="4"/>
   <xs:attribute name="coolness" type="nonNegativeDouble" use="required"/>
     </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>

 <xs:element name="ModelParameterOVM_FVDM">
	<xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
   <xs:attribute name="tau" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="transition_width" type="nonNegativeDouble" use="required"/> <!-- l_int changed to transition_width -->
   <xs:attribute name="beta" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="gamma" type="nonNegativeDouble" default="0"/><!-- lambda changed to gamma according to book notation -->
   <xs:attribute name="optimal_speed_function" type="OptimalVelocityFunctionEnum" default="bando" />
     </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>
 
 <!-- TODO bind this to an Enum in Java -->
     <xs:simpleType name="OptimalVelocityFunctionEnum">
     <xs:restriction base="xs:string">
	   <xs:enumeration value="bando"></xs:enumeration>  
       <xs:enumeration value="triangular"></xs:enumeration>  
       <xs:enumeration value="threephase"></xs:enumeration>        
     </xs:restriction>
    </xs:simpleType>


 <xs:element name="ModelParameterGipps">
	<xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
   <xs:attribute name="a" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="b" type="nonNegativeDouble" use="required"/>
     </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>

 <xs:element name="ModelParameterKrauss">
	<xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
   <xs:attribute name="a" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="b" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="epsilon" type="nonNegativeDouble" use="required"/>
     </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>

 <xs:element name="ModelParameterNewell">
	<xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
		   </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>

<!-- TODO check which parameters are double and which are integer in CA -->
 <xs:element name="ModelParameterNSM">
	<xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
   <xs:attribute name="p_slowdown" type="probability" use="required"/>
   <xs:attribute name="p_slow_start" type="probability" use="required"/>
     </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>

 <xs:element name="ModelParameterKKW">
	<xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
   <xs:attribute name="k" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="pb0" type="probability" use="required"/>
   <xs:attribute name="pb1" type="probability" use="required"/>
   <xs:attribute name="pa1" type="probability" use="required"/>
   <xs:attribute name="pa2" type="probability" use="required"/>
   <xs:attribute name="vp" type="nonNegativeDouble" use="required"/>
     </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>

<xs:element name="ModelParameterCCS">
<xs:complexType>
	 <xs:complexContent>
	 <xs:extension base="BasicModelParameter">
   <xs:attribute name="mass" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="cw" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="A" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="friction" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="p0" type="probability" use="required"/>
   <xs:attribute name="v_c" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="p_herringbone" type="probability" use="required"/>
   <xs:attribute name="v_c_herringbone" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="T" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="b" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="b_maximal" type="nonNegativeDouble" use="required"/>
     </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 </xs:element>


 <xs:element name="MemoryParameter">
	 <xs:complexType>
   <xs:attribute name="tau" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="alpha_T" type="positiveDouble" use="required"/>
   <xs:attribute name="alpha_v0" type="positiveDouble" use="required"/>
   <xs:attribute name="alpha_a" type="positiveDouble" default="1"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="LaneChangeModel">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="ModelParameterMOBIL" minOccurs="0" maxOccurs="1"/>
   </xs:sequence>
   <xs:attribute name="eur_rules" type="xs:boolean" default="false"/>
   <xs:attribute name="crit_speed_eur" type="nonNegativeDouble" default="25"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="ModelParameterMOBIL">
  <xs:complexType>
   <xs:attribute name="b_safe" type="nonNegativeDouble" default="4.0"/>
   <xs:attribute name="s_min" type="nonNegativeDouble" default="2.0"/>
   <xs:attribute name="threshold" type="xs:double" default="0.2"/>
   <xs:attribute name="bias_right" type="xs:double" default="0.25"/>
   <xs:attribute name="politeness" type="xs:double" default="0.1"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="NoiseParameter">
  <xs:complexType>
   <xs:attribute name="tau" type="nonNegativeDouble" default="0"/>
   <xs:attribute name="fluct_strength" type="nonNegativeDouble" use="required"/>
  </xs:complexType>
 </xs:element>


<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->


 <xs:element name="Simulation">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="TrafficComposition"/>
    <xs:element ref="Road" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="Routes" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="Output"/>
   </xs:sequence>
   <xs:attribute name="timestep" type="positiveDouble" use="required"/> <!-- renamed: dt - timestep -->
   <xs:attribute name="duration" type="xs:double" default="-1"/> <!-- todo check default handling, now checked by "isSet", so if not set then infinity-->
   <xs:attribute name="fixed_seed" type="xs:boolean" default="true"/>
   <xs:attribute name="seed" type="xs:double" default="42"/>
   <xs:attribute name="crash_exit" type="xs:boolean" default="true"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="TrafficComposition">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="VehicleType" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="VehicleType">
  <xs:complexType>
   <xs:attribute name="label" type="xs:string" use="required"/>
   <xs:attribute name="fraction" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="relative_v0_randomization" type="nonNegativeDouble" default="0.0"/>
   <xs:attribute name="route_label" type="xs:string" default=""/>
  </xs:complexType>
 </xs:element>

 <xs:element name="Road">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="TrafficComposition" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="InitialConditions" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="TrafficSource" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="TrafficSink" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="FlowConservingInhomogeneities" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="SpeedLimits" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="Slopes" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="SimpleRamp" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="TrafficLights" minOccurs="0" maxOccurs="1"/>
    <xs:element ref="Detectors" minOccurs="0" maxOccurs="1"/>
   </xs:sequence>
   <xs:attribute name="id" type="xs:string" use="required"/>
   <xs:attribute name="logging" type="xs:boolean" default="false"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="InitialConditions">
  <xs:complexType>
   <xs:sequence>
	   <!-- TODO alternative -->
    <xs:element ref="MacroIC" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="MicroIC" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="MacroIC">
  <xs:complexType>
   <xs:attribute name="x" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="rho_per_km" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="v" type="xs:double" default="-1"/> <!-- TODO should be non-negative. Use isSet-->
  </xs:complexType>
 </xs:element>

 <xs:element name="MicroIC">
  <xs:complexType>
   <xs:attribute name="x" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="v" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="lane" type="xs:integer" default="1"/>
   <xs:attribute name="label" type="xs:string" default=""/>
  </xs:complexType>
 </xs:element>

 <xs:element name="TrafficSource">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="Inflow" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="logging" type="xs:boolean" default="false"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="TrafficSink">
  <xs:complexType>
   <xs:attribute name="logging" type="xs:boolean" default="false"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="Inflow">
  <xs:complexType>
   <xs:attribute name="t" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="q_per_hour" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="v" type="nonNegativeDouble" default="20"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="FlowConservingInhomogeneities">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="Inhomogeneity" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="Inhomogeneity">
  <xs:complexType>
   <xs:attribute name="x" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="alpha_T" type="nonNegativeDouble" default="1"/>
   <xs:attribute name="alpha_v0" type="nonNegativeDouble" default="1"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="SpeedLimits">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="SpeedLimit" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="SpeedLimit">
  <xs:complexType>
   <xs:attribute name="x" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="speedlimit_kmh" type="nonNegativeDouble" use="required"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="Slopes">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="Slope" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="Slope">
  <xs:complexType>
   <xs:attribute name="x" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="gradient" type="xs:double" use="required"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="SimpleRamp">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="Inflow" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="relative_speed" type="nonNegativeDouble" default="0.5"/>
   <xs:attribute name="relative_gap" type="nonNegativeDouble" default="0.5"/>
   <xs:attribute name="logging" type="xs:boolean" default="false"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="TrafficLights">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="TrafficLight" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="n_dt" type="positiveInteger" default="1"/>
   <xs:attribute name="logging" type="xs:boolean" default="false"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="TrafficLight">
  <xs:complexType>
   <xs:attribute name="x" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="green_time" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="green_red_time" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="red_time" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="red_green_time" type="nonNegativeDouble" use="required"/>
   <xs:attribute name="phase_shift" type="xs:double" default="0"/>
   <xs:attribute name="init" type="nonNegativeDouble" default="0"/>
  </xs:complexType>
 </xs:element>


 <xs:element name="Detectors">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="CrossSection" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="dt" type="positiveDouble" default="60"/>
   <xs:attribute name="logging" type="xs:boolean" default="false"/>    
   <xs:attribute name="logging_lanes" type="xs:boolean" default="false"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="CrossSection">
  <xs:complexType>
   <xs:attribute name="x" type="nonNegativeDouble" use="required"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="Routes">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="Route" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="Route">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="Road" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="label" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
 <xs:element name="Output">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="FloatingCarData" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="SpatioTemporal" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="Trajectories" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="TravelTimes" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="Fuel" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="SpatioTemporal">
  <xs:complexType>
   <xs:attribute name="dt" type="nonNegativeDouble" default="60"/>
   <xs:attribute name="dx" type="nonNegativeDouble" default="100"/>
   <xs:attribute name="route" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="FloatingCarData">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="FloatingCar" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="n_dt" type="positiveInteger" default="1"/>
   <xs:attribute name="random_fraction" type="probability" default="0"/>
   <xs:attribute name="route" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="FloatingCar">
  <xs:complexType>
   <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="Trajectories">
  <xs:complexType>
   <xs:attribute name="dt" type="nonNegativeDouble" default="1"/>
   <xs:attribute name="dn" type="positiveInteger" default="1"/>
   <xs:attribute name="start_time" type="nonNegativeDouble" default="0"/>
   <xs:attribute name="end_time" type="nonNegativeDouble" default="1e10"/>
   <xs:attribute name="route" type="xs:string" use="required"/>
   <xs:attribute name="random_fraction" type="nonNegativeDouble" default="0"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="TravelTimes">
  <xs:complexType>
   <xs:attribute name="route" type="xs:string" use="required"/>
   <xs:attribute name="dt" type="nonNegativeDouble" default="1"/>
   <xs:attribute name="tauEMA" type="nonNegativeDouble" default="20"/>
  </xs:complexType>
 </xs:element>

 <xs:element name="Fuel">
  <xs:complexType>
   <xs:attribute name="dt" type="nonNegativeDouble" default="1"/>
   <xs:attribute name="start_time" type="nonNegativeDouble" default="0"/>
   <xs:attribute name="end_time" type="nonNegativeDouble" default="1e10"/>
   <xs:attribute name="tauEMA" type="nonNegativeDouble" default="20"/>
   <xs:attribute name="route" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>
</xs:schema>
